<p><em>* corresponding author</em></p>
<ol class="publication-cv-list">
  <li>
    <strong>Jiasi Weng</strong>, Jian Weng, Ming Li. A Built-in Crypto Expert for Artificial Intelligence: How Far is the Horizon?<br />
    Cryptology ePrint Archive, <a href="https://eprint.iacr.org/">https://eprint.iacr.org/</a>, 2026.
  </li>
  <li>
    <strong>Jiasi Weng</strong>, Jian Weng*, Jilian Zhang, Ming Li, Yue Zhang, Weiqi Luo. DeepChain: Auditable and Privacy-Preserving Deep Learning with Blockchain-based Incentive. <em>IEEE Transactions on Dependable and Secure Computing (IEEE TDSC)</em>, 18(5):2438–2455, 2021.<br />
    CCF 推荐 A 类期刊. 中科院分区 Top 期刊. 谷歌学术引用次数: 844.<br />
    2022、2023 年 ESI 热点论文. 2022、2023、2024 年 ESI 高被引论文.
  </li>
  <li>
    <strong>Jiasi Weng</strong>, Yanyun Gu, Jia-Nan Liu, Ming Li, Jian Weng*. A Publicly Accountable Machine Unlearning Method. <em>Chinese Journal of Computers</em>, 48(2), 477–496, 2025.<br />
    CCF 推荐中文科技期刊 A 类.
  </li>
  <li>
    <strong>Jiasi Weng</strong>, Shenglong Yao, Junjie Huang, Jian Weng*, Cong Wang. Proof of unlearning: Definitions and instantiation. <em>IEEE Transactions on Information Forensics and Security (IEEE TIFS)</em>, 19:3309–3323, 2024.<br />
    CCF 推荐 A 类期刊. 中科院一区、Top 期刊. 谷歌学术引用次数: 28.
  </li>
  <li>
    <strong>Jiasi Weng</strong>, Jian Weng*, Gui Tang, Anjia Yang, Ming Li, Jia-Nan Liu. pvCNN: Privacy-Preserving and Verifiable Convolutional Neural Network Testing. <em>IEEE Transactions on Information Forensics and Security (IEEE TIFS)</em>, 18:2218–2233, 2023.<br />
    CCF 推荐 A 类期刊. 中科院一区、Top 期刊. 谷歌学术引用次数: 54.
  </li>
  <li>
    <strong>Jiasi Weng</strong>, Jian Weng*, Hongwei Huang, Chengjun Cai, Cong Wang. FedServing: A Federated Prediction Serving Framework Based on Incentive Mechanism. <em>The 40th International Conference on Computer Communications (INFOCOM 2021)</em>, May 10–13, 2021.<br />
    CCF 推荐 A 类会议. 接收率 = 252/1266 = 19.9%. 谷歌学术他引次数: 44.
  </li>
  <li>
    <strong>Jiasi Weng</strong>, Jian Weng*, Chengjun Cai, Hongwei Huang, Cong Wang. Golden Grain: Building a Secure and Decentralized Model Marketplace for MLaaS. <em>IEEE Transactions on Dependable and Secure Computing (IEEE TDSC)</em>, 19(5):3149–3167, 2022.<br />
    CCF 推荐 A 类期刊. 中科院分区 Top 期刊. 谷歌学术引用次数: 28.
  </li>
  <li>
    <strong>Jiasi Weng</strong>, Jian Weng*, Yue Zhang, Weiqi Luo, Weiming Lan. BENBI: Scalable and Dynamic Access Control on the Northbound Interface of SDN-based VANET. <em>IEEE Transactions on Vehicular Technology (TVT)</em>, 68(1):822–831, 2019.<br />
    谷歌学术引用次数: 67.
  </li>
  <li>
    Ming Li, Jian Weng*, <strong>Jiasi Weng</strong>*（通讯作者）, Yi Li, Yongdong Wu, Dingcheng Li, Guowen Xu, Robert H. Deng. IvyCross: A Privacy-Preserving and Concurrency Control Framework for Blockchain Interoperability. <em>IEEE Transactions on Mobile Computing (IEEE TMC)</em>, 24(10):9334–9351, 2025.<br />
    CCF 推荐 A 类期刊.
  </li>
  <li>
    Chushan Zhang, Jian Weng*, <strong>Jiasi Weng</strong>*（通讯作者）, Yijian Zhong, Jia-Nan Liu, Cunle Deng. Robust and Secure Federated Learning with Verifiable Differential Privacy. <em>IEEE Transactions on Dependable and Secure Computing (IEEE TDSC)</em>, 22(5):5713–5729, Sept.–Oct. 2025.<br />
    CCF 推荐 A 类期刊. 中科院分区 Top 期刊.
  </li>
  <li>
    Shun Hu, Ming Li, <strong>Jiasi Weng</strong>*（通讯作者）, Jia-Nan Liu*, Jian Weng, Zhi Li. IvyRedaction: Enabling Atomic, Consistent and Accountable Cross-Chain Rewriting. <em>IEEE Transactions on Dependable and Secure Computing (IEEE TDSC)</em>, 21(4):3883–3900, 2024.<br />
    CCF 推荐 A 类期刊. 中科院分区 Top 期刊. 影响因子: 7.
  </li>
  <li>
    Bimei Wang, Fan Wen, Jisheng Dang*, Huiguo He, Xiwen Wang, Nannan Zhu, <strong>Jiasi Weng</strong>*（通讯作者）. Mitigating Hallucination in Large Video-Language Models with Injected Semantics. <em>IEEE International Conference on Multimedia and Expo (ICME)</em>, Nantes, France, June 30–July 4, 2025.<br />
    CCF 推荐 B 类会议.
  </li>
  <li>
    Bimei Wang, Huilin Song, Jisheng Dang*, Fei Shen, Hui Zhang, Liting Wang, Mangang Xie, Jizhao Liu, <strong>Jiasi Weng</strong>*（通讯作者）. AS-Memory: Adaptive Sparse Memory Meeting Video-Language Models. <em>IEEE International Conference on Multimedia and Expo (ICME)</em>, Nantes, France, June 30–July 4, 2025.<br />
    CCF 推荐 B 类会议.
  </li>
  <li>
    <strong>Jiasi Weng</strong>, Ming Li, and Jian Weng. Watermarking AI-Generated Text for Auditing. IntechOpen, 2025.<br />
    学术论著.
  </li>
  <li>
    Zhen Han, <strong>Jiasi Weng</strong>, Sen Dong and Jian Weng*. Fast Multi-key Bootstrapping Instantiated with NTRU and (R)LWE. <em>The 21st International Conference on Information Security and Cryptology (Inscrypt 2025)</em>, Oct 19–21, 2025.<br />
    CCF 推荐会议，中国密码学会推荐会议.
  </li>
  <li>
    Minhua Su, Jia-Nan Liu, Kai He, <strong>Jiasi Weng</strong>, Anjia Yang, Xueqiao Liu and Jian Weng. PP-MTAD: Privacy-Preserving and Efficient Multivariate Time Series Anomaly Detection. <em>The 21st International Conference on Information Security and Cryptology (Inscrypt 2025)</em>, Oct 19–21, 2025.<br />
    CCF 推荐会议，中国密码学会推荐会议.
  </li>
  <li>
    Tao Huang, Jian Weng*, <strong>Jiasi Weng</strong>, Min-Rong Chen, Ming Li. SecFloatPlus: More Accurate Floating-Point Meets Secure Two-Party Computation. <em>The 18th International Conference on Provable and Practical Security (ProvSec 2024)</em>, Sept 25–27, 2024.<br />
    CCF 推荐会议，中国密码学会推荐会议.
  </li>
  <li>
    Ming Li, Yuxian Li, Jian Weng, Yingjiu Li, <strong>Jiasi Weng</strong>, Junzuo Lai, Robert H. Deng. IvyAPC: Auditable Generalized Payment Channels. <em>International Conference on Financial Cryptography and Data Security (FC 2025)</em>, June 10–11, 2025.<br />
    CCF 推荐会议.
  </li>
  <li>
    Xin Chen, Jian Weng*, Wei Lu, Jiaming Xu, <strong>Jiasi Weng</strong>. Deep manifold learning combined with convolutional neural networks for action recognition. <em>IEEE Transactions on Neural Networks and Learning Systems (TNNLS)</em>, 29(9):3938–3952, 2017.<br />
    JCR Q1, 中科院一区. 影响因子: 8.793. 谷歌学术他引次数: 86.
  </li>
  <li>
    Kai He, Jun Guo, Jian Weng*, <strong>Jiasi Weng</strong>, Joseph K. Liu and Xun Yi. Attribute-Based Hybrid Boolean Keyword Search over Outsourced Encrypted Data. <em>IEEE Transactions on Dependable and Secure Computing (IEEE TDSC)</em>, 17(6):1207–1217, 2018.<br />
    CCF 推荐 A 类期刊. 中科院分区 Top 期刊. 影响因子: 7. 谷歌学术引用次数: 62.
  </li>
  <li>
    Jinhua Chen, Minrong Chen*, Guoqiang Zeng, <strong>Jiasi Weng</strong>. BDFL: a byzantine-fault-tolerance decentralized federated learning method for autonomous vehicle. <em>IEEE Transactions on Vehicular Technology (TVT)</em>, 70(9):8639–8652, 2021.<br />
    中科院分区 Top 期刊. 影响因子: 6.239. 谷歌学术引用次数: 76.
  </li>
  <li>
    Feixiang Zhao, Jian Weng*, Wenli Xie, Ming Li, <strong>Jiasi Weng</strong>. HRA-secure attribute-based threshold proxy re-encryption from lattices. <em>Information Sciences</em>, 655:119900, 2024.<br />
    JCR Q1 影响因子: 6.795. 谷歌学术他引次数: 4.
  </li>
  <li>
    Congge Xie, Jian Weng*, <strong>Jiasi Weng</strong>, Lin Hou. Scalable revocable identity-based signature over lattices in the standard model. <em>Information Sciences</em>, 518:29–38, 2020.<br />
    JCR Q1 影响因子: 6.795. 谷歌学术他引次数: 14.
  </li>
  <li>
    Yue Zhang, Jian Weng*, <strong>Jiasi Weng</strong>, Lin Hou, Anjia Yang, Ming Li, Yang Xiang, Robert Deng. Looking Back! Using Early Versions of Android Apps as Attack Vectors. <em>IEEE Transactions on Dependable and Secure Computing (IEEE TDSC)</em>, 18(2):652–666, 2019.<br />
    CCF 推荐 A 类期刊. 中科院分区 Top 期刊. 影响因子: 7. 谷歌学术引用次数: 3.
  </li>
  <li>
    Zhijian Shao, Jian Weng*, Yue Zhang, Yongdong Wu, Ming Li, <strong>Jiasi Weng</strong>, Weiqi Luo, Shui Yu. Peripheral-free Device Pairing by Randomly Switching Power. <em>IEEE Transactions on Dependable and Secure Computing (IEEE TDSC)</em>, 19(6):4240–4254, 2021.<br />
    CCF 推荐 A 类期刊. 中科院分区 Top 期刊. 影响因子: 7.
  </li>
  <li>
    Yijian Zhong, Wuzheng Tan*, Zhifeng Xu, Shixin Chen, <strong>Jiasi Weng</strong>, Jian Weng. WVFL: Weighted Verifiable Secure Aggregation in Federated Learning. <em>IEEE Internet of Things Journal</em>, 11(11):19926–19936, 2024.<br />
    JCR Q1, 中科院二区、Top 期刊. 影响因子: 10.6.
  </li>
  <li>
    Mengting Yao, Junjie Huang, Jian Weng, Jia-Nan Liu, Hongkai Liu, <strong>Jiasi Weng</strong>, and Zhiquan Liu. Efficient and Verifiable Bilateral Fine-Grained Access Control for Cloud-Edge IoT Healthcare. <em>IEEE Internet of Things Journal</em>, 12(20):43181–43194, 2025.
  </li>
  <li>
    Xiaohu Chen, Anjia Yang*, Yao Tong, Jian Weng, <strong>Jiasi Weng</strong>, Tao Li. A multisignature-based secure and OBU-friendly emergency reporting scheme in VANET. <em>IEEE Internet of Things Journal</em>, 9(22):23130–23141, 2022.
  </li>
  <li>
    Yuxian Li, Jian Weng*, Ming Li, Wei Wu, <strong>Jiasi Weng</strong>, Jia-Nan Liu, Shun Hu. Zerocross: A sidechain-based privacy-preserving cross-chain solution for monero. <em>Journal of Parallel and Distributed Computing</em>, 169:301–316, 2022.
  </li>
  <li>
    Jian Weng*, <strong>Jiasi Weng</strong>, Jia-Nan Liu, Lin Hou. Server-aided access control for cloud computing. <em>网络与信息安全学报</em>, 2(10):58–76, 2016.
  </li>
  <li>
    Jinghang Wen, Jianan Liu*, Axin Wu, <strong>Jiasi Weng</strong>. A General Framework for Matching Pattern Hiding in Deep Packet Inspection. <em>The 22nd World Conference on Information Security Applications (WISA 2021)</em>, August 11–13, 2021.<br />
    最佳学术论文奖.
  </li>
  <li>
    Mengting Yao, Jian Weng, Junjie Huang, Hongkai Liu, Jia-Nan Liu, Zhiquan Liu, <strong>Jiasi Weng</strong>. Revocable and Flexible Privacy-Preserving Data Computing with Bilateral Access Control for Cloud-Fog-Assisted EHR Systems. <em>IEEE Transactions on Information Forensics and Security (IEEE TIFS)</em>, accepted, 2026.<br />
    CCF 推荐 A 类期刊. 中科院一区、Top 期刊.
  </li>
  <li>
    Zusheng Zhang, Yijun Mao, Jian Weng, Ming Li, <strong>Jiasi Weng</strong>, and Yingjie Kuang. RoadNet: Efficient Relay Deployment in Traffic Wireless Sensor Networks. <em>IEEE Transactions on Vehicular Technology (TVT)</em>, accepted, 2026.
  </li>
</ol>
